<!-- <div class="tab-header leftside" >
  <div class="tab" (click)="setActiveTab('income')">Income</div>
  <div class="tab" (click)="setActiveTab('needs')">Needs</div>
  <div class="tab" (click)="setActiveTab('wants')">Wants</div>
  <div class="tab" (click)="setActiveTab('savings')">Savings</div>
  <div class="tab" (click)="setActiveTab('investments')">Investments</div>
</div> -->



<!-- <table id="incomeTable">
  <tbody id="selfie-body">
    <tr>
      <td colspan="2">
        Needs
      </td>
    </tr>
    <tr id="needs-body"></tr>
    <tr>
      <td colspan="2">
        <button (click)="addRow('needs')" id="addRowButton">Add Row</button>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        Wants
      </td>
    </tr>
    <tr id="wants-body"></tr>
    <tr>
      <td colspan="2">
        <button (click)="addRow('wants')" id="addRowButton">Add Row</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td id="total"></td>
    </tr>
  </tfoot>
</table> -->