<div class="container">
    <h1>Track Your Progress</h1>
    <div class="goals-section">
      <h2>Goals</h2>
      <div class="goal-item">
        <div class="goal-name">Goal 1</div>
        <div class="goal-progress">
          <!-- <mat-progress-bar [value]="50"></mat-progress-bar> -->
          <div class = "value">$10000   </div>
          
          <input type="number" placeholder="Enter Amount">
          <button mat-button>Deposit More</button>
          <div class="progress-amount">50%</div>
        </div>
      </div>
      <div class="goal-item">
        <div class="goal-name">Goal 2</div>
        <div class="goal-progress">
            <div class = "value">$10000   </div>
          <!-- <mat-progress-bar [value]="75"></mat-progress-bar> -->
          
          <input type="number" placeholder="Enter Amount">
          <button mat-button>Deposit More</button>
          <div class="progress-amount">75%</div>
        </div>
      </div>
      <!-- Add more goal items here -->
    </div>
    <div class="completed-goals-section">
      <h2>Completed Goals</h2>
      <div class="goal-item">
        <div class="goal-name">Pay off mortgage</div>
        <div class="goal-progress">
            <div class = "value">$40000</div>
          <!-- <mat-progress-bar [value]="100"></mat-progress-bar> -->
          <!-- <div class="progress-amount">100%</div> -->
        </div>
      </div>
      <div class="goal-item">
        <div class="goal-name">Pay off car</div>
        <div class="goal-progress">
            <div class = "value">$5000</div>
          <!-- <mat-progress-bar [value]="100"></mat-progress-bar> -->
          <!-- <div class="progress-amount">100%</div> -->
        </div>
      </div>
      <!-- Add more completed goal items here -->
    </div>
  </div>